@import url('~normalize.css');
@import 'header.scss';

body {
  background-color: #2b2b2b;
  color: azure;
}

.post {
  margin-bottom: 25px;
  display: flex;
  border: #737373 6px solid;
  padding: 15px;
  justify-content: space-between;
  &__content {
  }
  &__btns {
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 40px 10px 0 10px;
}
